---
layout: default
full_title: Quixotic Chris - Homepage
permalink: /
---

<ul class="tile-list">
	<li id="about">
		<div class="tile-header">
			<a href="#about" class="title">About</a>
		</div>
		<div class="tile-content">
			<div class="single-item">
				<p>I enjoy music, soccer, and especially laughter. I love to learn and teach about all things in computer science.</p>
				<p>Currently, I'm a software engineer/general CS helper at the <a href="http://oicr.on.ca/">Ontario Institute for Cancer Research</a>.</p>
				<p class="definition">
					<span class="word">quix·ot·ic</span> 
					<span class="ipa">/kwĭk-sŏt′ĭk/</span>
					<span class="part-of-speech">adj.</span>
					<span class="definition">romantic and idealistic; possessed by impossible hopes</span>
				</p>
			</div>
		<div>
	</li>
	<li id="blog">
		<div class="tile-header">
			<a href="/blog" class="title">Blog</a> - Thoughts and tutorials on programming, and related disciplines.
		</div>
		<div class="tile-content">
			{% include showcase_item.html title="I finally textured something 3D with Maya!" link="/2014/05/23/i-finally-textured-some-3d-with-maya.html" img="/static/images/posts/maya-chair-4x3.png" alt="Chair textured in Maya"%}
			{% include showcase_item.html title="Perl Literals and data structures: a guide to arrays, hashes, and references ((), [], {})" link="/2014/01/22/perl-literals-data-structures-giude-arrays-hashes-references.html" img="/static/images/posts/perl-snippet.png" alt="Random perl code" %}
		</div>
		<div class="tile-content">
			<div class="single-item text-center">
				<a href="quixotic-chris.com/blog">See all posts</a>
			</div>
		</div>
	</li>
	<li id="projects">
		<div class="tile-header">
			<a href="/projects" class="title">Projects</a> - I make games, websites, and unclassified other things.
		</div>
		<div class="tile-content">
			{% include showcase_item.html title="Qcumber.ca - Queen's Course Catalog" link="quixotic-chris.com/blog" img="http://placekitten.com.s3.amazonaws.com/homepage-samples/408/287.jpg" alt="Qcumber screenshot" %}
			{% include showcase_item.html title="SPQR - City building game" link="quixotic-chris.com/blog" img="http://placekitten.com.s3.amazonaws.com/homepage-samples/408/287.jpg" alt="SPQR screenshot" %}
		</div>	
		<div class="tile-content">
			<div class="single-item text-center">
				<a href="quixotic-chris.com/projects">See all projects</a>
			</div>
		</div>
	</li>
	<li id="resume">
		<div class="tile-header">
			<a href="#resume" class="title">Resume</a>
			<span class="soft-eng business-cat"></span>
			<span class="fun"></span>
		</div>
	</li>
	<li id="contact">
		<div class="tile-header">
			<a href="#contact" class="title">Contact</a>
		</div>
		<p>I currently live in Toronto! You can email me at <a href="mailto:chris@quixotic-chris.com" target="_top">chris@quixotic-chris.com</a></p>
		<div class="tile-content">
			<div class="single-item text-center contact-links">
				<a href="mailto:chris@quixotic-chris.com" class="email">
					<span class="fa fa-envelope fa-4x"></span>
				</a>
				<a href="https://github.com/ChrisCooper" class="github">
					<span class="fa fa-github fa-4x"></span>
				</a>
				<a href="https://twitter.com/QuixoticChris" class="twitter">
					<span class="fa fa-twitter fa-4x"></span>
				</a>
			</div>
		</div>
	</li>
</ul>
