<link rel="canonical" href="http://{{ site.domain }}{{ page.url }}" />
<link rel="author" href="{{ site.google_plus.profile_url }}" />

<meta name="description" content="{% if page.description155 %}{{ page.description155 }}{% else %}{{ site.description155 }}{% endif %}" />

{% if page.full_title %}
    <meta property="og:title" content="{{ page.full_title }}" />
{% else %}
    <meta property="og:title" content="{% if page.search_title_70 %}{{ page.search_title_70 }} - {% endif %}{{ site.title }}" />
{% endif %}

<meta property="og:image" content="http://{{ site.domain }}{% if page.main_square_image_url %}{{ page.main_square_image_url }}{% else %}{{ site.main_square_image_url }}{% endif %}" />
<meta property="og:url" content="http://{{ site.domain }}{{ page.url }}" />
<meta property="og:description" content="{% if page.description155 %}{{ page.description155 }}{% else %}{{ site.description155 }}{% endif %}" />
<meta property="fb:admins" content="{{ site.facebook.insights_id }}"/>
<meta property="og:site_name" content="Quixotic Chris" />

